defaults: &defaults
  app_name: 快递跟踪
  author:
    email: mahb45@gmail.com
  oauth:
    client_id: f04bfbk3so3m2hs9e2a8f5c64a1aed6b2hd227554e0a77a3f1992e087bce3479
    secret: 7d561bb675cf3eba72830a99f0c70321d8226ksm29b89a43b7b329ca9426a503
    scope: 'read_orders'
    callback_path: '/callback'
  domain:
    host: 'express.shopqiapp.com' # 邮件发送配置
    record: 粤ICP备11089804号
  shopqi_domain:
    protocol: 'http://'

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults
  oauth:
    client_id: f04k3m2c3f6a0380e2a8f5c64a1aed6bdb1acdk2m30a77a3f1992edk2m3e3479
    client_secret: 7d561bb675cf3eba728303h243254321d822643219b89a4dk23329ca9426a503
    scope: 'read_orders'
    callback_path: '/callback'
  domain:
    host: 'express.shopqiapp.com'
    record: 粤ICP备11089804号
  shopqi_domain:
    protocol: 'https://'
